name: Check Terraform

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v1
        with:
          tflint_version: v0.31.0
      - name: Run TFlint
        run: |
          tflint --enable-plugin aws --init
          tflint --enable-plugin aws -f compact
      - name: Validate Terraform
        run: |
          terraform init
          terraform validate
      - name: Check formatting
        run: |
          terraform fmt -check=true .

