name: Check Terraform

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v3
        with:
          tflint_version: v0.45.0
      - name: Run TFlint
        run: |
          tflint --init
          tflint -f compact
      - name: Validate Terraform
        run: |
          terraform --version
          terraform init
          terraform validate
      - name: Check formatting
        run: |
          terraform fmt -check=true .

